<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%d{dd-MM-yyyy HH:mm:ss} %highlight(%-5level) %cyan(%logger{20}) - %msg%n</pattern></encoder>
    </appender>

    <appender name="HIBERNATE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/hibernate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/hibernate-%d{dd-MM-yyyy}.log</fileNamePattern>
        </rollingPolicy>
        <encoder><pattern>%d{dd-MM-yyyy HH:mm:ss} %msg%n</pattern></encoder>
    </appender>

    <appender name="SOUT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/sout.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/sout-%d{dd-MM-yyyy}.log</fileNamePattern>
        </rollingPolicy>
        <encoder><pattern>%d{dd-MM-yyyy HH:mm:ss} %msg%n</pattern></encoder>
    </appender>

    <appender name="ERR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/err-%d{dd-MM-yyyy}.log</fileNamePattern>
        </rollingPolicy>
        <encoder><pattern>%d{dd-MM-yyyy HH:mm:ss} %-5level %logger{36} - %msg%n</pattern></encoder>
    </appender>

    <logger name="HibernateManual" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="HIBERNATE_FILE" />
    </logger>

    <logger name="SoutManual" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SOUT_FILE" />
    </logger>

    <logger name="SystemErr" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERR_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>