<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirm your email</title>
</head>
<body>
<h2>Welcome to Zerowaste!</h2>

<p>Please confirm your email address by clicking the button below:</p>

<p>
    <a th:href="${confirmationLink}"
       style="display:inline-block;
          padding:10px 20px;
          border-radius:4px;
          color:white;
          text-decoration:none;
          font-weight:bold;
          background-color: #1b8911;
          background: linear-gradient(135deg, #1b8911 0%, #5cb947 100%);">
        Confirm
    </a>
</p>

<p>If you did not create this account, you can safely ignore this email.</p>
</body>
</html>