<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reset your password</title>
</head>
<body>

<p>Please reset your account password by clicking the button below:</p>

<p>
    <a th:href="${resetLink}"
       style="display:inline-block;
          padding:10px 20px;
          border-radius:4px;
          color:white;
          text-decoration:none;
          font-weight:bold;
          background-color: #1b8911; /* Fallback para clientes que no soportan gradientes */
          background: linear-gradient(135deg, #1b8911 0%, #5cb947 100%);">
        Reset password
    </a>
</p>

<p>If you did not request a password reset, you can safely ignore this email.</p>
</body>
</html>