<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirmă-ți email-ul</title>
</head>
<body>

<p>Te rugăm să îți resetezi parola contului apăsând pe butonul de mai jos:</p>

<p>
    <a th:href="${resetLink}"
       style="display:inline-block;padding:10px 20px;background:linear-gradient(135deg, #1be70c, #10f4b7);color:white;
              text-decoration:none;border-radius:4px;">
        Resetare parolă
    </a>
</p>

<p>Dacă nu ai solicitat tu resetarea parolei, poți ignora acest email.</p>
</body>
</html>